/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 22px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 400;
}

.en-tete {
    display: flex;
    padding-right: 0px;
    justify-content: space-between;
    width: 100%;
    height: 79px;
}

.menu {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

nav a {
    padding: 5px;
    margin: 5px;
}

nav a:hover {
    border-top: 2px #0065FC solid;
} 

.logo {
    padding-top: 30px;
    padding-bottom: 30px;
}

a {
    color: black;
    text-decoration: none;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    }

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0px 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Bar de recherche ***********/

.premier-titre {
    margin: 30px 0px 8px 0px;
}

.premier-p {
    margin: 0px 0px 35px 0px;
}

.search-bar-m {
    display: none;
}

.search-bar-d {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px;
    width: 377px;
    height: 49px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.search-icon-d {
    height: 49px;
    width: 50px;
}

#search-d {
    width: 377px;
    height: 49px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: none;
    border-right: none;
}

  ::placeholder {
    color: black;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  
  .search-button-d {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 15px 16px 15px 16px;
    border: 1px solid #007bff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 132px;
    height: 49px;
  }

  .search-button-d:hover {
    cursor: pointer;
  }

  /****** Filtres ***********/

  .filtres {
    display: flex;
    gap: 15px;
    margin: 30px 0px 35px 0px;
    width: 758px;
    height: 50px;
  }

  .family-eco {
    display: flex;
    gap: 15px;
  }

  .romantic-trendy {
    display: flex;
    gap: 15px;
  }

  .filtre-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 173px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    padding: 4px 19px 4px 19px;
  }

  .filtre-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 134px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    padding: 4px 19px 4px 19px;
  }

  .filtre-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    padding: 4px 19px 4px 19px;
  }

  .filtre-4 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 167px;
    height: 50px;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    padding: 4px 19px 4px 19px;
  }

  .filtre-1:hover, .filtre-2:hover, .filtre-3:hover, .filtre-4:hover { 
    background-color: #DEEBFF; 
    cursor: pointer;
}

  .info {
    display: flex;
    align-items: center;
  }

  .fa-solid.fa-info {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #d9d9d9;
    width: 24px;
    height: 24px;
    padding: 2px;
    border-radius: 50px;
  }

  .p-filtres {
    font-size: 17px;
    font-weight: 700;
  }

  .t-filtres {
    font-size: 18px;
    font-weight: 700;
  }

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    background-color: #F2F2F2;
    width: 100%;
    margin-top: 35px;
    width: 871px;
    height: 611px;
    padding: 30px;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    height: 207px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
    border: 5px;
}

.hebergements-cards .card-content {
    width: 250px;
    height: 64px;
    padding: 0px 15px 0px 15px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 3px;
    margin-bottom: 5px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.hebergements-row-1, .hebergements-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.afficher-plus {
    margin-left: 10px;
    margin-top: 25px;
    margin : 25px 0px 0px 10px;
    text-decoration: none;
}

.afficher-plus :link {
    text-decoration: none;
}

.hebergements-cards .card .card-link {
    position: absolute;
    width: 100%;
    height: 100%;
}

.hebergements-cards .card .card-link a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: transparent;
}



/****** Populaires ***********/

.populaires {
    background-color: #F2F2F2;
    width: 32%;
    margin-top: 35px;
    height: 611px;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding: 10px 5px 5px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    padding-bottom: 5px;
}

.populaires-cards .card .card-link {
    position: absolute;
    width: 100%;
    height: 100%;
}

.populaires-cards .card .card-link a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: transparent;
}

/****** Activites ***********/

.activites {
    width: 1340px;
    height: 559px;
    padding: 30px;
    margin-top: 35px;
}

.activites-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}

.activites-cards .card {
    display: flex;
    width: 297px;
    height: 439px;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    border: 5px;
}

.activites-cards .card-content {
    width: 297px;
    height: 59px;
    padding: 20px 19px 20px 19px;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.activites-cards .card-title {
    margin-top: 3px;
    margin-bottom: 5px;
    text-align: center;
}

.activite-row {
    display: flex;
    flex-direction: row;
    gap: 22px;
}

.activites-cards .card .card-link {
    position: absolute;
    width: 100%;
    height: 100%;
}

.activites-cards .card .card-link a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: transparent;
}

/****** Footer ***********/

footer {
    display: flex;
    width: 100%;
    background-color: #F2F2F2;
    justify-content: space-around;
    padding: 20px 0px 20px 0px;
}

.h2-footer {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    font-weight: 700;
}

.text-footer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: black;
}

.text-footer :link {
    text-decoration: none;
    color: black;
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {

    body {
        margin: 8px 0px 0px 0px;
    }

    p {
        font-size: 1em;
    }

    .filtres {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .family-eco {
        display: flex;
        justify-content: left;
        width: 100%;
    }

    .romantic-trendy {
        display: flex;
        justify-content: right;
        width: 100%; 
    }

    .filtre-1 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    
    .filtre-2 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .filtre-3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .filtre-4 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }

    .h3-filtres {
        display: flex;
        font-size: 1em;
        justify-self: center;
    }

    .fa-solid {
        display: flex;
        flex-direction: row;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }
        
    .hebergements-cards .card {
        display: flex;
        flex-wrap: wrap;
        width: 33%;
        height: 207px;
        margin: 20px 10px 0px 10px;
    }

    .hebergements-cards img {
        width: 100%;
        height: 124px;
        border-radius: 20px 20px 0px 0px;
        border: 5px;
    }

    .hebergements-cards .card-content {
        width: 100%;
        height: 64px;
        padding: 0px 15px 0px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .hebergements-cards .card-title {
        margin-top: 3px;
        margin-bottom: 5px;
        font-size: 16px;
    }

    .hebergements-cards .card-subtitle {
        margin: 0;
        font-size: 14px;
    }

    .hebergements-cards .card-rating {
        display: flex;
        flex-direction: row;
    }

    .hebergements-row-1, .hebergements-row-2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires {
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 14px;
    }

    .populaires-cards .card-rating {
        display: flex;
        flex-direction: row;
        padding-bottom: 15px;
    }

    .activites {
        width: 100%;
        height: 100%;
        padding: 30px 0px 80px 0px ;
    }

    .activites-cards .card {
        display: flex;
        width: 25%;
        height: 270px;
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
    }

    .activites-title {
        margin-left: 4px;
    }

    .activites-cards img {
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0px 0px;
        border: 5px;
    }

    .activites-cards .card-content {
        width: 100%;
        padding: 10px 5px 10px 5px;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .activites-cards .card-title {
        text-align: left;
        padding-left: 10px;
    }

    footer {
        display: flex;
        width: 100%;
        background-color: #F2F2F2;
        justify-content: space-between;
    }
    
    .h2-footer {
        display: flex;
        flex-direction: row;
        padding-left: 30px;
    }
    
    .text-footer {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: black;
        padding-left: 30px;
        padding-right: 30px;
    }
    
    .text-footer :link {
        text-decoration: none;
        color: black;
    }

}

/* Small devices (phones, less than 768px) */

@media screen and (max-width: 767.98px) {

    body {
        margin: 0px;
    }
    
    .main-container {
        width: 100%;
        padding: 0px;
        box-sizing: border-box;
    }

    .main-top {
        padding: 20px;
    }

    .en-tete {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 30px;
        padding-top: 30px;
        text-align: center;
    }

    .logo {
        align-items: center;
        margin : auto;
        width: 30%;
        padding-bottom: 35px;
    }

    .menu {
        justify-content:space-between;
        align-items: center;
        font-size: 1.1em;
        width: 50%;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav a {
        padding: 0px 0px 10px 0px;
        margin: 0px;
    }

    nav a:hover {
        border-bottom: 2px #0065FC solid;
        border-top: none;
        padding: 0px;
    } 

    .premier-titre {
        margin: 15px 0px 8px 0px;
    }

    p {
        font-size: 1em;
    }

    .search-bar {
        width: 100%;
    }

    .search-bar-d {
        display: none;
      }

    .search-bar-m {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #F2F2F2;
        border: 1px solid #F2F2F2;
        border-radius: 15px;
        width: 100%;
        height: 49px;
        margin-top: 35px;
        margin-bottom: 35px;
    }
    
    .search-icon-m {
        height: 49px;
        width: 50px;
    }
    
    #search-m {
        width: 100%;
        height: 49px;
        color: black;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        border-top: 1px solid #F2F2F2;
        border-bottom: 1px solid #F2F2F2;
        border-left: none;
        border-right: none;
    }
    
    ::placeholder {
        color: black;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
      }
      
    .search-button-m {
        background-color: #007bff;
        color: #fff;
        padding: 15px 16px 15px 16px;
        border: 1px solid #007bff;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        width: 49px;
        height: 49px;
      }
    
    .search-button-m:hover {
        cursor: pointer;
      }
    
    .filtres {
        display: flex;
        flex-direction: column;
        margin-bottom: 210px;
        gap: 10px;
    }

    .main-filtres {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    .family-eco {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 5px;
    }

    .romantic-trendy {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-top: 5px;
    }

    .filtre-1, .filtre-2, .filtre-3, .filtre-4 {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: calc(50% - 10px);
        margin-bottom: 5px;
    }

    .p-filtres {
        display: flex;
        font-size: 0.9em;
        justify-self: center;
    }

    .fa-solid {
        display: flex;
        flex-direction: row;
        margin: 5px;
    }

    .info {
        display: flex;
        align-items: center;
      }
    
      .fa-solid.fa-info {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid #d9d9d9;
        width: 20px;
        height: 20px;
        padding: 2px;
        border-radius: 50px;
      }

      .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 30px;
    }

    .hebergements {
        background-color: white;
        width: 100%;
        height: 100%;
        order: 2;
    }
    
    .hebergements-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hebergements-cards .card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 207px;
        margin-top: 20px;
        margin-left: 0px;
    }

    .hebergements-cards .card-title {
        font-size: 1em;
        margin: 0px;
    }

    .hebergements-row-1, .hebergements-row-2 {
        display: flex;
        flex-direction: column;
    }

    .hebergements-cards .card-rating {
        margin-bottom: 5px;
    }

    .populaires {
        order: 1;
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 100%;
    }

    .populaires-cards .card-title {
        font-size: 1em;
    }

    .populaires-cards .card-subtitle {
        font-size: 1em;
    }

    .activites {
        display: flex;
        flex-direction: column;
        width: 82%;
        height: 100%;
        margin-top: 30px;
        padding-left: 38px;
        margin-bottom: 5px;
        justify-content: center;
    }
    
    .activites-cards .card {
        display: flex;
        width: 100%;
        height: 200px;
        margin-top: 30px;
    }
    
    .activites-cards img {
        width: 100%;
        height: 141px;
        border-radius: 20px 20px 0px 0px;
        border: 5px;
    }
    
    .activites-cards .card-content {
        width: 100%;
        height: 59px;
        padding: 20px 19px 20px 19px;
        gap: 10px;
        box-sizing: border-box;
    }
    
    .activites-cards .card-title {
        margin-top: 3px;
        margin-bottom: 5px;
        text-align: left;
        padding-left: 0px;
    }
    
    .activite-row {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    footer {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;
        height: 100%;
        background-color: #F2F2F2;
    }

}